<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <script src="/javascripts/lib/web3/dist/web3.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="signin_message">Please sign in your wallet</div>

    <br>

    <div>
	  	<div class="form-group">
	    	<input type="text" class="form-control" id="story" placeholder="New Story">
	  	</div>
	  	<div id="loader" class="float-left">Loading...</div>
	  	<button type="button" id="createStory" class="btn btn-primary btn float-right">Create</button>
    
    </div>
    
    <br><br><br>


	<div class="card">
	  	<ul class="list-group list-group-flush" id="storiesList"></ul>
	</div>

	
  </body>
	<script type="text/javascript">
			
		if (typeof web3 !== 'undefined') {
		  web3 = new Web3(web3.currentProvider);
		} else {
		  web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}

		web3.eth.defaultAccount = web3.eth.accounts[0];

		if(typeof web3.eth.accounts[0] == 'undefined'){
			$("#createStory").attr('disabled', true);
			$("#story").attr('disabled', true);
			$("#signin_message").show();
		} else {
			$("#signin_message").hide();
			$("#createStory").attr('disabled', false);
			$("#story").attr('disabled', false);
		}

		console.log('account:', web3.eth.accounts[0])

		var religionContract = web3.eth.contract([{"constant":true,"inputs":[{"name":"_start","type":"uint256"},{"name":"_count","type":"uint256"}],"name":"listStories","outputs":[{"name":"storyIds","type":"uint256[]"},{"name":"storyNames","type":"bytes32[]"},{"name":"storyTimes","type":"uint256[]"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_name","type":"bytes32"},{"name":"_time","type":"uint256"}],"name":"addStory","outputs":[{"name":"storyId","type":"uint256"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"anonymous":false,"inputs":[{"indexed":true,"name":"_senderAddress","type":"address"},{"indexed":false,"name":"_storyId","type":"uint256"},{"indexed":false,"name":"_name","type":"bytes32"},{"indexed":false,"name":"_time","type":"uint256"}],"name":"StoryAdded","type":"event"}]);

		var religion = religionContract.at('0xdcaa13ccdf8accfa5daa94d672e639e3a6eabe51');
		console.log(religion);

		$("#loader").hide();

		$('#createStory').click(function(){
			$("#loader").show();
			$("#createStory").attr('disabled', true);
			$("#story").attr('disabled', true);

			religion.addStory($('#story').val(), new Date().getTime(), function(err, result){
				if(err){
					alert('please sign in your wallet');
				} else {
					console.log(result)
				}
				

			});			
		})


		var start = 0;
		var finish = 20; 


		religion.listStories(start, finish, function(err, res){
			if(err){
				console.log(err)
			} else {
				for (var i = res[0].length - 1; i >= 0; i--) {
					var storyId = res[0][i];
					var story = res[1][i];
					var date = res[2][i];

					var str = web3.toAscii(story);

					$('#storiesList').append('<li class="list-group-item" id="story_'+storyId+'">'+storyId+'. '+str+'</li>')
				}				
			}


		});


		var StoryAddedEvent = religion.StoryAdded();

		StoryAddedEvent.watch(function(err,  result){
			if(err){

			} else {
				$("#loader").hide();
				$("#createStory").attr('disabled', false);
				$("#story").attr('disabled', false).val('');
				
				console.log(result);
				
				var storyId = result.args._storyId.c[0];

				if ( !$( "#story_"+storyId ).length ) {
					$('#storiesList').prepend('<li class="list-group-item" id="story_'+storyId+'">'+storyId+'. '+ web3.toAscii(result.args._name)+'</li>')
				}
 
				
			}

		})


	</script>
</html>


